@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
  margin: 0 auto !important;
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  color: #333;
  line-height: 24px;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  word-break: break-all;
  word-wrap: break-word;
  word-break: keep-all;}

  .header{
    margin: 0 20px;
    position: fixed;
    /* height: 100px; */
    width: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #fff;
    top: 0;
    border-bottom:1px solid #a3a3a3 ;
  }
  
  .inner{
    display: flex;
    position: static;
    line-height: 0;
    font-size: 0;
    width: 1100px;
    align-items: center;
    text-align: center;
  }
  .inner>h1{
    margin-right:0 ;
    width: 181px;
    display: inline-block;
    vertical-align: top;
  }
  .inner>h1>a{
    display: block;
    padding: 34px 5px;
  }
  .inner>h1>a>img{
    max-width: 100%;
    vertical-align: top;
  }
  .head_menu{
    width: 100%;
  }
  .head_menu>span{
    position: absolute;
    top: 0;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
  }
  .head_menu>ul{
    display: flex;
    height: 100%;
    justify-content: center;
  }
  .head_menu>ul>li{
    
    font-size: 17px;
    font-weight: 500;
  }
  .head_menu>ul>li>a{
    display: block;
    padding: 0 20px;
    color: #333;
    line-height: 100px;
    font-size: 17px;
    font-weight: 700;
  }
  .head_menu>ul>li:first-child > a{
  
    padding-left: 100px;
  }
  
  .inner>a:nth-of-type(1){display: inline-block;
    width: 90px;
    height: 31px;
    border: 2px solid #000063;
    border-radius: 40px;
    color: #000063;
    line-height: 22px;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
  }
  
  
    
    .inner> a:nth-of-type(2){
      margin-left: 10px;
      padding-left: 18px;
      height: 100%;
      border-left: 1px solid #eee;
      color: #a3a3a3;
      line-height: 19px;
      font-size: 17px;
    }
  .side_menu{
    display:  inline-block;
  
  }
  /* #header nav {display: inline-block;}
  #header>div>nav>ul{display: flex;
    line-height: 100px;
    padding: 0 20px;
  }
  
  #header>div>nav>ul>li{padding: 0 20px;}
  #header>div>nav>ul>li> a{
    font-size: 17px;
    font-weight: 500;
  }
  #header>div > nav > ul>li:nth-of-type(1){padding-left: 100px;}
  #header>div> h1{
    padding: 34px 5px;
  }
  #header>div>div{
    display: flex;
  }
  #header>div>div>a:nth-of-type(1){
    border: 2px solid #000063;
    border-radius: 40px ;
    height: 31px;
    width: 66px;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    color: #000063;
    margin-right: 15px;
    }
  #header>div>div>a:nth-of-type(1):hover{
    transition: 0.5s;
    color: #fff;
    background-color: #000063;
    border: #fff;
    
  }
  #header>div>div>a:nth-of-type(2){
    border-left: 1px solid #eee;
    color: #a3a3a3;
    padding-left: 18px;
    
    font-size: 17px;
  } */
  button{
    position: relative;
      border: 0 none;
      background: none;
      width: 46px;
      height: 20px;
     
      
  }
  button>span{position: absolute;
    transition: 0.3s;}
   button> span:nth-of-type(1){top:0 ; background-color: #999; width: 11px; border: 1px solid #999;
  }
   button> span:nth-of-type(2){top:8px; background-color: #999; width: 18px; border: 1px solid #999;}
   button> span:nth-of-type(3){top:16px; background-color: #999; width: 28px; border: 1px solid #999;}
   button:hover>span:nth-of-type(1){transition: 0.3s; width: 28px;}
   button:hover>span:nth-of-type(2){transition: 0.3s; width: 18px;}
   button:hover>span:nth-of-type(3){transition: 0.3s; width: 11px;}
   button.active>span:nth-of-type(1){transition: 0.3s; top:50%;transform: rotate(45deg); width: 20px;}
   button.active>span:nth-of-type(2){transition: 0.3s; opacity: 0;}
   button.active>span:nth-of-type(3){transition: 0.3s; top:50%; transform: rotate(-45deg); width: 20px;}
  
    .m_menu{
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: rgba(255,255,255,1);
      z-index: 1000;
    }
    .m_menu.active{
      display: block;
    }
    .m_menu>ul{
      margin: 0 auto;
      width: 1100px;
      display: flex;
      text-align: center;
      justify-content: space-evenly;
  
    }
    .m_menu>ul>li{
      position: relative;
      width: 25%;
      /* position: fixed; */
      padding: 30px 0;
      font-size: 15px;
      min-height: 250px;
      display: block;
    }
    .m_menu>ul>li:hover{
      background-color: #000063;
      
    }
    .m_menu>ul>li:hover a{color: #fff;}
    
    .m_menu>ul>li>a{
      position: relative;
      display: block;
      margin-bottom: 25px;
      color: #333;
      line-height: 20px;
      font-size: 18px;
      font-weight: bold;}
    .m_menu>ul>li>ul{
      position: relative;
      height: 100%;
      /* display: flex; */
      flex-direction: column;
    }
    .m_menu>ul>li>ul>li{
       display: block;
       
    
    }
    .m_menu>ul>li>ul>a{    
      line-height: 20px;
      display: inline-block;
      margin-top: 9px;
      position: relative;
      color: #777;
      
      font-size: 17px;
      letter-spacing: -1px;
      vertical-align: top;}
      .m_menu>ul>li>ul>li>a{
        display: inline-block;
      margin-top: 9px;
      position: relative;
      color: #777;
      line-height: 21px;
      font-size: 17px;
      letter-spacing: -1px;
      vertical-align: top;}
    .m_main{
    display: none;
    }
    .dep_web{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background: #fff;
  }
  .dep_web.active{
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background: #fff;
  }
  .dep_web.active>ul{
    width: 1100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .dep_web>ul::after{
    display: block;
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 20px;
      background: url(../kctc/bg_shadow2.png) repeat-x 0 0;
  }
  
  .dep_web>ul>li{
    width: 25%;
  }
  .dep_web>ul>li>div:hover{
    background-color: #000063;
  }
  .active>a{
    color: #000063;
  }
  .dep_web>ul>li>div:hover span{color: #fff;}
  .wep2{
    padding: 17px 10px 15px; ;
  }
  .wep2 > a{
    display: block;
    padding: 0 0;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    
  }
  .wep2 > a>div{
    
    margin-bottom: 25px;}
  .wep2 > a>div>img{
    max-width: 100%;
    vertical-align: top;
  }
  .cos1{height: 100%; }
  .cos1>a>div{margin-bottom: 25px;}
  .cos1>ul{margin-top: 10px;}
  .k1 .wep2{
    background: url(../kctc/menu1_5.png) no-repeat 50% 50% ; 
  }
  .k1 .wep2>a{
    margin-bottom: 160px;
      padding: 20px;
      color: #fff;
  }
  
  .k1 .wep2>ul{margin-bottom:10px ;}
  .wep3>li{
    background: url(../kctc/bul_plus_white.png) no-repeat 20px 50%;
    line-height:30px;  
  }
  .wep3>li>a{
    padding-left:40px ;
    }
  .wep3>li>a>span{color: #fff;}
  .k2>div{height: 100%;}
  .k2>div>ul{
    margin-top:10px ;
  }
  .k2>div>ul>li{
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .k2>div>ul>li>a{
    display: block;
    height: 50px;
    padding: 0 20px;
    background: #fafafa url(../kctc/arrow_r_white.png) no-repeat 90% 50%;
  }
  .k2>div:hover>ul>li>a{
    background-color: #00438a;
  }
  .k2>div:hover>ul>li>a{color: #fff;}
  .k2>div>a{
    margin-bottom: 25px;
  }
  .depth3{display:none;}
  .pon>li{
    width: 100%;
    line-height: 30px;}
  .pon>li>a{
    display: block;
    text-align: left;
    font-size: 17px;
    padding-left: 30px;
    background: url(../kctc/bul_plus_gray.png) no-repeat 10px 50%;
  }
  .pon>li>a>span{
   
      position: relative;
      white-space: nowrap;
      letter-spacing: -1px;
  }
  .ji>div{min-height: 300px;}
  .pon>li>a>span{position: relative; font-size: 17px; 
     white-space: nowrap; letter-spacing: -1px; }
  div:hover>.pon>li>a{background:url(../kctc/bul_plus_white.png) no-repeat 10px 50% ;}
  .header > nav > ul>li:nth-of-type(1){padding-left: 100px;}
  .header> h1{
    padding: 34px 5px;
  }
   
   .m_menu{
    display: none;
   }
   .depth3{
    display: none;
   }

 @media(max-width: 1100px){
  
  body{
    margin: 0 auto !important;
    max-width: 100%;
    min-width: 320px;
    height: 100%;
    color: #333;
    line-height: 24px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    word-break: break-all;
    word-wrap: break-word;
    word-break: keep-all;}

    .header{
      position: fixed;
      /* height: 100px; */
      width: 100%;
      max-width: 1920px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      background-color: #fff;
      top: 0;
      
    }
  
    .inner{
      display: flex;
      position: static;
      line-height: 0;
      font-size: 0;
      width: 1100px;
      align-items: center;
      text-align: center;
      
    }
    
  
    .inner>a:nth-of-type(1){
      
      width: 60px;
      height: 24px;
      line-height: 24px;
      font-size: 13px;
      border-radius: 40px;
      margin-right: 8px;
    } 
    .inner> a:nth-of-type(2){
      font-size: 15px;
      margin: 0;
      padding: 0;
      border: none;
      border-right:1px solid #eee ;
       padding-right: 10px;
    }
    .inner>h1{
  
      margin-right:150px;
      width: 181px;
      display: inline-block;
      vertical-align: top;
    }
    .inner>h1>a{
      background: url(../kctc/logo_white_m.png) no-repeat 19px 50%;
      display: block;
      padding:20px 18px;
      background-size: 90px auto;
    }
    .inner>h1>a>img{
      width: 90px;
      vertical-align: top;
    }
    .head_menu>ul{
      width: 100%;
      display: none;
    }
    .head_menu>span{
      position: absolute;
      top: 0;
      left: -9999px;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px;
      overflow: hidden;
    }
    .head_menu>ul{
      display: none;
      height: 100%;
      justify-content: center;
    }
    .head_menu>ul>li{
      
      font-size: 17px;
      font-weight: 500;
    }
    .head_menu>ul>li>a{
      display: block;
      padding: 0 20px;
      color: #333;
      line-height: 100px;
      font-size: 17px;
      font-weight: 700;
    }
    .head_menu>ul>li:first-child > a{
  
      padding-left: 100px;
    }
      .side_menu{
       
        margin-top: 0;
        padding: 18px;
        width: 57px;
        height: 57px;
      }
  
  .m_menu{
    
      display: none;
      position: fixed;
      height: 100%;
      width: 100%;
      top:57px
    }
    
  
    .header.active{
      background-color: #000063;
    }
    .header.active .head_name img{opacity: 0;}
    .header.active>div>a:nth-of-type(2){
      color: #fff;
    }
    .m_menu>ul{
      width: auto;
      text-align: left;
      flex-direction: column;
    }
    .m_menu>ul>li{
      width: auto;
     min-height: 0;
     padding: 0;
     background: url(../kctc/);
     
    }
    .m_menu>ul>li:hover a{color: #333;}
    
    .m_menu>ul>li>a{
      border-bottom:1px solid #a3a3a3 ;
      margin: 0;
      padding: 0 18px 0 57px;
      background: url(../kctc/arrow_btm_gnb.png) no-repeat 100% 50%;
      background-size: 13px auto;
      background-origin: content-box;
      color: #333;
      line-height: 56px;
      font-size: 15px;
    }
    .m_menu>ul>li.on>a{
      background: url(../kctc/arrow_top_gnb.png) no-repeat 100% 50%;
      background-size: 13px auto;
      background-origin: content-box;
    }
    .m_menu>ul>li{
      background: url(../kctc/ico_gnb1.png ) no-repeat 18px 19px;
      background-size: 20px 20px;
    }
    .m_menu>ul>.sm2{
      background: url(../kctc/ico_gnb2.png ) no-repeat 18px 19px;
      background-size: 20px 20px;
    }
    .m_menu>ul>.sm3{
      background: url(../kctc/ico_gnb3.png ) no-repeat 18px 19px;
      background-size: 20px 20px;
    }
    
    .m_menu>ul>.sm4{
      background: url(../kctc/ico_gnb4.png ) no-repeat  18px 19px;
    background-size: 20px 20px;}
    
    
    .m_menu>ul>li>ul{
      display: none;
      width: 100%;
    }
    .m_menu>ul>li>ul.active{
      display: block;
    }
    .m_menu>ul>li>ul>li{
      border-bottom:1px solid #a3a3a3 ;
      
      line-height: normal;
      width: 100%;}
    .m_menu>ul>li>ul>li>a{    display: block;
      margin-top: 0;
      padding: 0 18px 0 57px;
      color: #333;
      line-height: 56px;
      font-size: 15px;}
    .m_menu>ul>li>ul>a{    
      line-height: 56px;
      display: inline-block;
      margin-top: 9px;
      position: relative;
      color: #777;
      font-size: 15px;
      letter-spacing: -1px;
      vertical-align: top;}
    .has_dep{
      width: auto;
      min-height: 0;
      padding: 0;
      
     }
    .has_dep>a{ display: block;
      margin-top: 0;
      padding: 0 18px 0 57px;
      color: #333;
      line-height: 56px;
      font-size: 15px; 
      background:url(../kctc/ico_depth.png) no-repeat 100% 50%;
      background-size: 12px auto;
      background-origin: content-box
    }
    .has_dep.on>a{
      background:url(../kctc/ico_depth_on.png) no-repeat 100% 50%;
      background-size: 12px auto;
      background-origin: content-box
    }
    .m_menu>ul>li:hover{
      background-color: #fff
      ;
    }
  
    
    button>span{position: absolute;
      left: 0;
      transition: 0.3s;}
     button> span:nth-of-type(1){top:0 ; background-color: #999; width: 11px; border: 1px solid #999;
    }
     button> span:nth-of-type(2){top:8px; background-color: #999; width: 18px; border: 1px solid #999;}
     button> span:nth-of-type(3){top:16px; background-color: #999; width: 28px; border: 1px solid #999;}
     button:hover>span:nth-of-type(1){transition: 0.3s; width: 28px;}
     button:hover>span:nth-of-type(2){transition: 0.3s; width: 18px;}
     button:hover>span:nth-of-type(3){transition: 0.3s; width: 11px;}
     button.active>span:nth-of-type(1){transition: 0.3s; top:50%;transform: rotate(45deg); width: 20px; background-color: #fff; border:1px solid#fff ;}
     button.active>span:nth-of-type(2){transition: 0.3s; opacity: 0; background-color: #fff;border:#fff ;}
     button.active>span:nth-of-type(3){transition: 0.3s; top:50%; transform: rotate(-45deg); width: 20px; background-color: #fff; border:1px solid #fff ;}
    

  }












@media(max-width:760px){
  .header{
    position: fixed;
    /* height: 100px; */
    width: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #fff;
    top: 0;
  }

  .inner{
    display: flex;
    position: static;
    line-height: 0;
    font-size: 0;
    width: 1100px;
    align-items: center;
    text-align: center;
  }
  .inner>h1{
    margin-right:150px ;
    width: 181px;
    display: inline-block;
    vertical-align: top;
  }
  .inner>h1>a{
    display: block;
  /*   padding: 34px 5px; */
  }
  .inner>h1>a>img{
    max-width: 100%;
    vertical-align: top;
  }
  .head_menu{
    width: 100%;
    
  }
  .head_menu>span{
    position: absolute;
    top: 0;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
  }
  .head_menu>ul{
    display: none;
    height: 100%;
    justify-content: center;
  }
  .head_menu>ul>li{
    
    font-size: 15px;
    font-weight: 500;
  }
  .head_menu>ul>li>a{
    display: block;
    padding: 0 20px;
    color: #333;
    line-height: 100px;
    font-size: 15px;
    font-weight: 700;
  }
  .head_menu>ul>li:first-child > a{

    padding-left: 100px;
  }

  .inner>a:nth-of-type(1){display: none;
  }


    
    .inner> a:nth-of-type(2){
      margin-left: 10px;
      padding-left: 18px;
      height: 100%;
      color: #a3a3a3;
      line-height: 19px;
      font-size: 17px;
    }
  .side_menu{
    

}
  /* #header{
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    top: 0;
  }
  #header nav {display: inline-block;}
  #header>nav>a{
    line-height: 100px;
    padding: 0 20px;
  }
  #header > nav > a:nth-of-type(1){padding-left: 100px;}
  #header> h1{
    padding: 34px 5px;
  }
  #header>div{
    margin-right: 50px;
    display: flex;
  }
  #header>div>a:nth-of-type(1){
    display: none;
    border: 2px solid #000063;
    border-radius: 40px ;
    height: 31px;
    width: 66px;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    color: #000063;
    margin-right: 15px;
    }
  #header>div>a:nth-of-type(1):hover{
    transition: 0.5s;
    color: #fff;
    background-color: #000063;
    border: #fff;
    
  }
  #header>div>a:nth-of-type(2){
    border-left: 1px solid #eee;
    color: #a3a3a3;
    padding-left: 18px;
    
    font-size: 17px;
  } */
  button{
    position: relative;
      border: 0 none;
      background: none;
      width: 26px;
      height: 20px;
      
      
  }
  button>span{position: absolute;
    transition: 0.3s;}
   button> span:nth-of-type(1){top:0 ; background-color: #999; width: 11px; border: 1px solid #999;
  }
   button> span:nth-of-type(2){top:8px; background-color: #999; width: 18px; border: 1px solid #999;}
   button> span:nth-of-type(3){top:16px; background-color: #999; width: 28px; border: 1px solid #999;}
   button:hover>span:nth-of-type(1){transition: 0.3s; width: 28px;}
   button:hover>span:nth-of-type(2){transition: 0.3s; width: 18px;}
   button:hover>span:nth-of-type(3){transition: 0.3s; width: 11px;}
   button.active>span:nth-of-type(1){transition: 0.3s; top:50%;transform: rotate(45deg); width: 20px;}
   button.active>span:nth-of-type(2){transition: 0.3s; opacity: 0;}
   button.active>span:nth-of-type(3){transition: 0.3s; top:50%; transform: rotate(-45deg); width: 20px;}
  
  }



 
