@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.wrap{
  padding-top:101px ;
}

.w2{
  width: 100%;
  height: 70px;
  background-color: #eee;
}
.w2>ul{
  width: 1100px;
  margin: 0 auto; 
  
  align-items: center;
    
}
.w2>ul>li{
  position: relative;
  padding: 0 65px 0 30px;
  display: block;
  float: left;
  min-width: 199px;
  
  /* height: 69px;
  line-height: 69px; */
}
.w2>ul>li:nth-of-type(1){padding: 0;min-width:69px ;}
  
.w2>ul>li:nth-of-type(2){
  border-left:1px solid rgb(204, 204, 204);
  line-height: 69px;
}
.w2>ul>li:nth-of-type(3){
  width: 250px;
  border-left:1px solid rgb(204, 204, 204);
  border-right:1px solid rgb(204, 204, 204);
  line-height: 69px;}
.w2>ul>li:nth-of-type(4){
  width: 300px;
  border-right:1px solid rgb(204, 204, 204);
  line-height: 69px;}
.w2>ul>li:nth-of-type(1)>a{
  margin: 0;
  display: block;
  width: 69px;
  line-height: 69px;
text-align: center;
background-image: url(../kctc/ico_home.png);
background-repeat:no-repeat ;
background-position: 50%;
color: rgba(0, 0, 0, 0);
}
.w2>ul>li:nth-of-type(2)>a::after{
  display: block;
  position: absolute;
  content:'';
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../kctc/arrow_btm.png);
}
.w2>ul>li:nth-of-type(3)>a::after{
  display: block;
  position: absolute;
  content:'';
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../kctc/arrow_btm.png);
}
.w2>ul>li:nth-of-type(4)>a::after{
  display: block;
  position: absolute;
  content:'';
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../kctc/arrow_btm.png);}



.j1{
  position: relative; 
  display: block;

  background: url(../kctc/bg_sub4.png) no-repeat 50% 50%;
  background-size: cover;
  height: 230px;}
.j1>h2{  
  text-align: center;
  line-height:230px;
  color: #fff;
  font-size: 40px;
}
.j1>a{
  display: none;
}
.j2{
  margin: 0 auto;
  width: 1100px;
  padding: 50px 0 70px;
}
.j2>section{
  margin-bottom: 70px;
}
.j2>section:nth-of-type(2){
  margin: 0;
}
.j2>section>h3{
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 10px 30px;
  color: #000063;
  line-height: 26px;
  font-size: 24px;
  font-weight: 900;
}
.j2>section>h3::after{
  content: '';
  display: block;
  position: absolute;
  background: #000063;
  width: 30px;
  height: 1px;
  bottom: 0;
  left: 0;
}

.j2>section>p{
  margin-bottom: 40px;
  padding-left: 30px;
  line-height: 20px;
  font-size: 18px;
  font-family: 'Nanum Square', sans-serif;
}
.j2>section>div>table{
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  
  border-collapse: collapse;
  border-spacing: 0;

}
.j2>section>div>table>caption{
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  text-indent: -10000px;}
.j2>section>div>table>thead{
  vertical-align: middle;
}
.j2>section>div>table>tbody{
  vertical-align: middle;
  
}
.j2 td{
  padding: 12px 30px;
  line-height: 24px;
  font-size: 15px;
}
.j2>section>div>table>tbody>tr{
  text-align: center;
  border-bottom: #eee 1px solid ;
}
.j2>section>div>table>tbody>tr:nth-of-type(1){
  background-color: #fafafa;

}
.j2>section>div>table>tbody>tr:nth-of-type(4){
  background-color: #fafafa;
}
.j2>section>div>table>tbody>tr:nth-of-type(5){
  background-color: #fafafa;
}


.j2>section>div>table>tfoot{
  vertical-align: middle;
}
  
.j2>section>div>table>tfoot>tr{
  text-align: center;
  background-color: #fafafa;
}
.j2>section>div>table>tfoot>tr>td{
  font-weight: bold;
}


.list{
  display: none;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  border: 1px solid #eee;
  background: #eee;
  top:70px;
  left: -1px;
  line-height: 40px;
  z-index: 2;

}
.a:hover>ul{

  display: block;
}
.list>li>a{
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 15px;
}

.list>li>a:hover{color: #fff;
  background: #000063;
  transition:0 ;}




@media(max-width:1100px){
  .wrap{
    padding-top:58px ;
   
  }
  
  .w2{
    display: none;
    width: 100%;
    height: 70px;
    background-color: beige;
  }
  .w2>ul{
    width: 1100px;
    margin: 0 auto; 
    
    align-items: center;
      
  }
  .w2>ul>li{
    position: relative;
    padding: 0 65px 0 30px;
    display: block;
    float: left;
    min-width: 199px;
    
    /* height: 69px;
    line-height: 69px; */
  }
  .w2>ul>li:nth-of-type(1){padding: 0;min-width:69px ;}
    
  .w2>ul>li:nth-of-type(2){
    border-left:1px solid rgb(204, 204, 204);
    line-height: 69px;
  }
  .w2>ul>li:nth-of-type(3){
    width: 250px;
    border-left:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
    line-height: 69px;}
  .w2>ul>li:nth-of-type(4){
    width: 300px;
    border-right:1px solid rgb(204, 204, 204);
    line-height: 69px;}
  .w2>ul>li:nth-of-type(1)>a{
    margin: 0;
    display: block;
    width: 69px;
    line-height: 69px;
  text-align: center;
  background-image: url(../kctc/ico_home.png);
  background-repeat:no-repeat ;
  background-position: 50%;
  color: rgba(0, 0, 0, 0);
  }
  .w2>ul>li:nth-of-type(2)>p::after{
    position: absolute;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);
  }
  .w2>ul>li:nth-of-type(3)>p::after{
    position: absolute;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);
  }
  .w2>ul>li:nth-of-type(4)>p::after{position: absolute;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);}

  .j1
  {display: block;
    background-image: url(../kctc/bg_sub4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;}
  .j1>h2{  
    text-align: center;
    line-height:230px;
    color: #fff;
    font-size: 40px;
  }
  .j1
{display: block;
  background: url(../kctc/bg_sub1.png) no-repeat 50% 50%;
  background-size: cover;
  height: 230px;}
.j1>h2{  
  text-align: center;
  line-height:230px;
  color: #fff;
  font-size: 40px;
}
.j1>a{
  display: block;
  width: 9px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.j1>a:nth-of-type(1){
  background:url(../kctc/btn_prev_menu.png);
  background-size: 9px 14px;
  left: 18px;
}
.j1>a:nth-of-type(2){
  background:url(../kctc/btn_next_menu.png);
  background-size: 9px 14px;
  right: 18px;
}
  .j2{
    margin: 0 auto;
    width: 100%;
    padding: 20px 18px 38px;
  }
  .j2>section{
    margin-bottom: 70px;
  }
  .j2>section:nth-of-type(2){
    margin: 0;
  }
  .j2>section>h3{
    position: relative;
    margin-bottom: 10px;
    padding: 0 0 10px 30px;
    color: #000063;
    line-height: 26px;
    font-size: 24px;
    font-weight: 900;
  }
  .j2>section>h3::after{
    content: '';
    display: block;
    position: absolute;
    background: #000063;
    width: 30px;
    height: 1px;
    bottom: 0;
    left: 0;
  }

  .j2>section>p{
    margin-bottom: 40px;
    padding-left: 30px;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Nanum Square', sans-serif;
  }
  .j2>section>div>table{
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    
    border-collapse: collapse;
    border-spacing: 0;

  }
  .j2>section>div>table>caption{
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    text-indent: -10000px;}
  .j2>section>div>table>thead{
    vertical-align: middle;
  }
  .j2>section>div>table>tbody{
    vertical-align: middle;
    
  }
  .j2 td{
    padding: 12px 30px;
    line-height: 24px;
    font-size: 15px;
  }
  .j2>section>div>table>tbody>tr{
    text-align: center;
    border-bottom: #eee 1px solid ;
  }
  .j2>section>div>table>tbody>tr:nth-of-type(1){
    background-color: #fafafa;

  }
  .j2>section>div>table>tbody>tr:nth-of-type(4){
    background-color: #fafafa;
  }
  .j2>section>div>table>tbody>tr:nth-of-type(5){
    background-color: #fafafa;
  }


  .j2>section>div>table>tfoot{
    vertical-align: middle;
  }
    
  .j2>section>div>table>tfoot>tr{
    text-align: center;
    background-color: #fafafa;
  }
  .j2>section>div>table>tfoot>tr>td{
    font-weight: bold;
  }

}



@media(max-width:760px){
  .j2>section>h3{
    position: relative;
    margin-bottom: 10px;
    padding-left: 0;
    color: #000063;
    line-height: 20px;
    font-size: 18px;
    font-weight: 900;
  }
  .j2>section>h3::after{
    left: -18px;
    width: 38px;
  }
  .j2>section>p{
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
  }
  .j2>section>div>table{
    width: 630px;
  }
  .j2 td{
    padding: 10px 3px;
    line-height: 18px;
    font-size: 13px;}
}