@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
.wrap{
  padding-top:101px ;
}


.w2{
  width: 100%;
  height: 70px;
  background-color: #eee;
}
.w2>ul{
  width: 1100px;
  margin: 0 auto; 
  
  align-items: center;
    
}
.w2>ul>li{
  position: relative;
  padding: 0 65px 0 30px;
  display: block;
  float: left;
  min-width: 199px;
  
  /* height: 69px;
  line-height: 69px; */
}
.w2>ul>li:nth-of-type(1){padding: 0;min-width:69px ;}
  
.w2>ul>li:nth-of-type(2){
  border-left:1px solid rgb(204, 204, 204);
  line-height: 69px;
}
.w2>ul>li:nth-of-type(3){
  width: 250px;
  border-left:1px solid rgb(204, 204, 204);
  border-right:1px solid rgb(204, 204, 204);
  line-height: 69px;}
.w2>ul>li:nth-of-type(4){
  width: 300px;
  border-right:1px solid rgb(204, 204, 204);
  line-height: 69px;}
.w2>ul>li:nth-of-type(1)>a{
  margin: 0;
  display: block;
  width: 69px;
  line-height: 69px;
text-align: center;
background-image: url(../kctc/ico_home.png);
background-repeat:no-repeat ;
background-position: 50%;
color: rgba(0, 0, 0, 0);
}
.w2>ul>li:nth-of-type(2)>a::after{
  position: absolute;
  content:'';
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../kctc/arrow_btm.png);
}
.w2>ul>li:nth-of-type(3)>a::after{
  position: absolute;
  content:'';
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../kctc/arrow_btm.png);
}
.w2>ul>li:nth-of-type(4)>a::after{position: absolute;
  content:'';
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../kctc/arrow_btm.png);}



.o1{
  position: relative; 
  margin: 0;
  width: 100%;
  display: block;
  display: block;
  background: url(../kctc/bg_sub3.png) no-repeat 50% 50%;
  background-size: cover;
  height: 230px;}
.o1>h2{  
  text-align: center;
  line-height:230px;
  color: #fff;
  font-size: 40px;
}

.o1>a{
  display: none;
}
.o2{   
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 70px;
  
  min-height: 450px;
}
.o2>section:nth-of-type(1){
  padding-bottom: 70px;
  border-bottom:1px solid #eee ;
}
.o2>section>h3{
  position: relative;
  margin-bottom: 40px;
  padding: 0 0 30px 30px;
  color: #000063;
  line-height: 32px;
  font-size: 24px;
  font-weight: 900;
}
.o2>section>h3::after{   
   display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 92px;
  height: 24px;
  background-image: url(../kctc/bg_title.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.o2>section:nth-of-type(1)>div{
  margin-bottom: 20px;

}
.o2>section:nth-of-type(1)>div>p{
  font-size: 20px;
  line-height: 30px;
}
.o2>section:nth-of-type(1)>div>p:nth-of-type(2){
  color: #000063;
  font-weight: bold !important;
}
.o2>section:nth-of-type(1)>ul{
  display: flex;
  justify-content: space-between;
  margin-top: 50px ;
  
}
.o2>section:nth-of-type(1)>ul>li>h3{
  margin-bottom: 10px;
  padding: 0 0 10px 30px;
  color: #000063;
  line-height: 26px;
  font-size: 24px;
}
.o2>section:nth-of-type(1)>ul>li>p{
  margin-bottom: 40px;
    padding-left: 30px;
    line-height: 24px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}


.o2>section:nth-of-type(1)>ul>li>div>img{
  max-width: 100%;
}


.o2>section:nth-of-type(2){
  padding-bottom: 70px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}
.o2>section:nth-of-type(2)>ul{
  padding: 0 30px;
}
.o2>section:nth-of-type(2)>ul>li{
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  padding-left: 310px;
  box-sizing: border-box;
  }
.o2>section:nth-of-type(2)>ul>li>div:nth-of-type(1){
  display: flex;
  height: 190px;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
}
.o2>section:nth-of-type(2)>ul>li>div:nth-of-type(2){
  position: absolute;
  top: 0;
  left: 0;
}
.o2>section:nth-of-type(2)>ul>li>div>h3{
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #000063;
  line-height: 26px;
  font-size: 24px;
  font-weight: 900;
}  

.o2>section:nth-of-type(2)>ul>li>div>h3>span{    
  color: #333 !important;
  font-weight: normal;}
.o2>section:nth-of-type(3)>ul{
  display: flex;
  

}
.o2>section:nth-of-type(3)>ul>li{
  width: 33.33%;
}
.o2>section:nth-of-type(3)>ul>li>h3{    
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 10px 30px;
  color: #000063;
  line-height: 26px;
  font-size: 24px;
  font-weight: 900;}
  .o2>section:nth-of-type(3)>ul>li>h3>span{    
    color: #333 !important;
    font-weight: normal;}
.o2>section:nth-of-type(3)>ul>li>ul{
  padding-left: 125px;
}
.o2>section:nth-of-type(3)>ul>li:nth-of-type(1)>ul{
  background: url(../kctc/ico_promise1.png) no-repeat 30px 50% ;
}
.o2>section:nth-of-type(3)>ul>li:nth-of-type(2)>ul{
  background: url(../kctc/ico_promise2.png) no-repeat 30px 50% ;
}
.o2>section:nth-of-type(3)>ul>li:nth-of-type(3)>ul{
  background: url(../kctc/ico_promise3.png) no-repeat 30px 50% ;
}



.o2>section:nth-of-type(3)>ul>li>ul>li{
  position: relative;
  padding-left: 15px;
  line-height: 30px;
}
.o2>section:nth-of-type(3)>ul>li>ul>li::before{
  display: block;
  content: '·';
  position: absolute;
  top: 0;
  left: 0;
  color: #636981;
  
}

.list{
  display: none;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  border: 1px solid #eee;
  background: #eee;
  top:70px;
  left: -1px;
  line-height: 40px;
  z-index: 2;

}

.a:hover>ul{

  display: block;
}

.list>li>a{
  width: 100%;
  height: 100%;
  padding-left: 15px;
  display: block;
}

.list>li>a:hover{color: #fff;
  background: #000063;
  transition:0 ;}








@media(max-width:1100px){
  .wrap{
    padding-top:58px ;
   
  }

  .w2{
    display: none;
    width: 100%;
    height: 70px;
    background-color: beige;
  }
  .w2>ul{
    width: 1100px;
    margin: 0 auto; 
    
    align-items: center;
      
  }
  .w2>ul>li{
    position: relative;
    padding: 0 65px 0 30px;
    display: block;
    float: left;
    min-width: 199px;
    
    /* height: 69px;
    line-height: 69px; */
  }
  .w2>ul>li:nth-of-type(1){padding: 0;min-width:69px ;}
    
  .w2>ul>li:nth-of-type(2){
    border-left:1px solid rgb(204, 204, 204);
    line-height: 69px;
  }
  .w2>ul>li:nth-of-type(3){
    width: 250px;
    border-left:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
    line-height: 69px;}
  .w2>ul>li:nth-of-type(4){
    width: 300px;
    border-right:1px solid rgb(204, 204, 204);
    line-height: 69px;}
  .w2>ul>li:nth-of-type(1)>a{
    margin: 0;
    display: block;
    width: 69px;
    line-height: 69px;
  text-align: center;
  background-image: url(../kctc/ico_home.png);
  background-repeat:no-repeat ;
  background-position: 50%;
  color: rgba(0, 0, 0, 0);
  }
  .w2>ul>li:nth-of-type(2)>a::after{
    position: absolute;
    display: block;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);
  }
  .w2>ul>li:nth-of-type(3)>a::after{
    display: block;
    position: absolute;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);
  }
 
  
  .o1{
    
    display: block;
    background: url(../kctc/bg_sub3.png) no-repeat 50% 50%;
    background-size: cover;
    height: 230px;
  }
  .o1>h2{  
    width: 100%;
    text-align: center;
    line-height:230px;
    color: #fff;
    font-size: 40px;
  }
  .o1>a{
    display: block;
    width: 9px;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }
  .o1>a:nth-of-type(1){
    background:url(../kctc/btn_prev_menu.png);
    background-size: 9px 14px;
    left: 18px;
  }
  .o1>a:nth-of-type(2){
    background:url(../kctc/btn_next_menu.png);
    background-size: 9px 14px;
    right: 18px;
  }
  .o2{    margin: 0;
    padding: 20px 18px 59px;
    width: 100%;
    min-height: 450px;
  }
  .o2>section:nth-of-type(1){
    padding-bottom: 70px;
    border-bottom:1px solid #eee ;
  }
  .o2>section>h3{
    position: relative;
    margin-bottom: 40px;
    padding: 0 0 30px 30px;
    color: #000063;
    line-height: 32px;
    font-size: 24px;
    font-weight: 900;
  }
  .o2>section>h3::after{   
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 92px;
    height: 24px;
    background-image: url(../kctc/bg_title.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  .o2>section:nth-of-type(1){width: 100%;}
  .o2>section:nth-of-type(1)>div{
    margin-bottom: 20px;

  }
  .o2>section:nth-of-type(1)>div>p{
    font-size: 20px;
    line-height: 30px;
  }
  .o2>section:nth-of-type(1)>div>p:nth-of-type(2){
    color: #000063;
    font-weight: bold !important;
  }
  .o2>section:nth-of-type(1)>ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px ;
    flex-wrap: wrap;
   
    
  }
  .o2>section:nth-of-type(1)>ul>li{
    width: 50%;
    padding: 10px;


  }
  .o2>section:nth-of-type(1)>ul>li>div>img{width: 100%;}


  .o2>section:nth-of-type(2){
    padding-bottom: 70px;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
  }
  .o2>section:nth-of-type(2)>ul{
    padding: 0 30px;
  }
  .o2>section:nth-of-type(2)>ul>li{
    display: flex;
    position: relative;
    width:100%;
    margin-bottom: 40px;
    padding-left: 310px;
    box-sizing: border-box;
    }
  .o2>section:nth-of-type(2)>ul>li>div:nth-of-type(1){
    height: 190px;
    vertical-align: middle;
  }
  .o2>section:nth-of-type(2)>ul>li>div:nth-of-type(2){
    position: absolute;
    top: 0;
    left: 0;
  }
  .o2>section:nth-of-type(3)>ul{
    display: block;
    

  }
  .o2>section:nth-of-type(3)>ul>li{
    width: auto;
    margin-bottom: 50px;
  }
  .o2>section:nth-of-type(3)>ul>li>h3{    
    position: relative;
    margin-bottom: 10px;
    padding: 0 0 10px 30px;
    color: #000063;
    line-height: 26px;
    font-size: 24px;
    font-weight: 900;}
    .o2>section:nth-of-type(3)>ul>li>h3>span{    
      color: #333 !important;
      font-weight: normal;}
  .o2>section:nth-of-type(3)>ul>li>ul{
    padding-left: 125px;
  }
  .o2>section:nth-of-type(3)>ul>li:nth-of-type(1)>ul{
    background: url(../kctc/ico_promise1.png) no-repeat 30px 50% ;
  }
  .o2>section:nth-of-type(3)>ul>li:nth-of-type(2)>ul{
    background: url(../kctc/ico_promise2.png) no-repeat 30px 50% ;
  }
  .o2>section:nth-of-type(3)>ul>li:nth-of-type(3)>ul{
    background: url(../kctc/ico_promise3.png) no-repeat 30px 50% ;
  }



  .o2>section:nth-of-type(3)>ul>li>ul>li{
    position: relative;
    padding-left: 15px;
    line-height: 30px;
  }
  .o2>section:nth-of-type(3)>ul>li>ul>li::before{
    display: block;
    content: '·';
    position: absolute;
    top: 0;
    left: 0;
    color: #636981;
  
}

}




@media(max-width:760px){
  .w2{
    display: none;
    width: 100%;
    height: 70px;
    background-color: beige;
  }
  .w2>ul{
    width: 1100px;
    margin: 0 auto; 
    
    align-items: center;
      
  }
  .w2>ul>li{
    position: relative;
    padding: 0 65px 0 30px;
    display: block;
    float: left;
    min-width: 199px;
    
    /* height: 69px;
    line-height: 69px; */
  }
  .w2>ul>li:nth-of-type(1){padding: 0;min-width:69px ;}
    
  .w2>ul>li:nth-of-type(2){
    border-left:1px solid rgb(204, 204, 204);
    line-height: 69px;
  }
  .w2>ul>li:nth-of-type(3){
    width: 250px;
    border-left:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
    line-height: 69px;}
  .w2>ul>li:nth-of-type(4){
    width: 300px;
    border-right:1px solid rgb(204, 204, 204);
    line-height: 69px;}
  .w2>ul>li:nth-of-type(1)>a{
    margin: 0;
    display: block;
    width: 69px;
    line-height: 69px;
  text-align: center;
  background-image: url(../kctc/ico_home.png);
  background-repeat:no-repeat ;
  background-position: 50%;
  color: rgba(0, 0, 0, 0);
  }
  .w2>ul>li:nth-of-type(2)>a::after{
    position: absolute;
    display: block;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);
  }
  .w2>ul>li:nth-of-type(3)>a::after{
    display: block;
    position: absolute;
    content:'';
    top: 40%;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../kctc/arrow_btm.png);
  }
 
  
  .o1{
    
    display: block;
    background-image: url(../kctc/bg_sub3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
  }
  .o1>h2{  
    width: 100%;
    text-align: center;
    line-height:230px;
    color: #fff;
    font-size: 40px;
  }
  .o2{    margin: 0;
    padding: 20px 18px 59px;
    width: 100%;
    min-height: 450px;
  }
  .o2>section:nth-of-type(1){
    padding-bottom: 70px;
    border-bottom:1px solid #eee ;
  }
  .o2>section>h3{
    position: relative;
    margin-bottom: 40px;
    padding: 0 0 30px 30px;
    color: #000063;
    line-height: 32px;
    font-size: 24px;
    font-weight: 900;
  }
  .o2>section>h3::after{   
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 92px;
    height: 24px;
    background-image: url(../kctc/bg_title.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  .o2>section:nth-of-type(1){width: 100%;}
  .o2>section:nth-of-type(1)>div{
    margin-bottom: 20px;

  }
  .o2>section:nth-of-type(1)>div>p{
    font-size: 20px;
    line-height: 30px;
  }
  .o2>section:nth-of-type(1)>div>p:nth-of-type(2){
    color: #000063;
    font-weight: bold !important;
  }
  .o2>section:nth-of-type(1)>ul{
    display: block;
   
    margin:0;
   
   
    
  }
  .o2>section:nth-of-type(1)>ul>li{
    width: 100%;
    padding: 0;


  }
  .o2>section:nth-of-type(1)>ul>li>h3{
    margin-bottom: 10px;
    padding: 0 0 10px 30px;
    color: #000063;
    line-height: 20px;
    font-size: 18px;
  }
  .o2>section:nth-of-type(1)>ul>li>p{
    margin-bottom: 40px;
      padding-left: 30px;
      line-height: 20px;
      font-size: 13px;
      font-family: 'Noto Sans KR', sans-serif;
  }
  
  .o2>section:nth-of-type(1)>ul>li>div>img{width: 100%;}


  .o2>section:nth-of-type(2){
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
  }
  .o2>section:nth-of-type(2)>ul{
    padding: 0 ;
  }
  .o2>section:nth-of-type(2)>ul>li{
    display: block;
    position: relative;
    width:100%;
    margin-bottom: 40px;
    padding: 0;
    box-sizing: border-box;
    }
    .o2>section:nth-of-type(2)>ul>li:nth-of-type(3){
      margin: 0;
    }
  .o2>section:nth-of-type(2)>ul>li>div:nth-of-type(1){
    margin-bottom: 15px;
    height: auto;
    vertical-align: middle;
  }
  .o2>section:nth-of-type(2)>ul>li>div:nth-of-type(2){
    position: static;
    top: 0;
    left: 0;
  }

  .o2>section:nth-of-type(2)>ul>li>div>h3{
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #000063;
    line-height: 20px;
    font-size: 18px;
    font-weight: 900;
  }  
  .o2>section:nth-of-type(2)>ul>li>div>p{
    line-height: 18px;
    font-size: 13px;
  }
  
  .o2>section:nth-of-type(2)>ul>li>div>h3>span{    
    color: #333 !important;
    font-weight: normal;}
  .o2>section:nth-of-type(3)>ul{
    display: flex;
  }

  .o2>section:nth-of-type(2)>ul>li>div:nth-of-type(2)>img{
    width: 100%;
  }

  .o2>section:nth-of-type(3)>ul{
    display: block;
    

  }
  .o2>section:nth-of-type(3)>ul>li{
    width: auto;
    margin-bottom: 50px;
  }
  .o2>section:nth-of-type(3)>ul>li>h3{    
    position: relative;
    margin-bottom: 10px;
    padding-left: 0;
    color: #000063;
    line-height: 20px;
    font-size: 18px;
    font-weight: 900;}
    .o2>section:nth-of-type(3)>ul>li>h3>span{    
      color: #333 !important;
      font-weight: normal;}
  .o2>section:nth-of-type(3)>ul>li>ul{
    padding-left: 125px;
  }
  .o2>section:nth-of-type(3)>ul>li:nth-of-type(1)>ul{
    background: url(../kctc/ico_promise1.png) no-repeat 30px 50% ;
  }
  .o2>section:nth-of-type(3)>ul>li:nth-of-type(2)>ul{
    background: url(../kctc/ico_promise2.png) no-repeat 30px 50% ;
  }
  .o2>section:nth-of-type(3)>ul>li:nth-of-type(3)>ul{
    background: url(../kctc/ico_promise3.png) no-repeat 30px 50% ;
  }



  .o2>section:nth-of-type(3)>ul>li>ul>li{
    position: relative;
    padding-left: 13px;
    line-height: 24px;
  }
  .o2>section:nth-of-type(3)>ul>li>ul>li::before{
    display: block;
    content: '·';
    position: absolute;
    top: 0;
    left: 0;
    color: #636981;
  
}

}